@using Kentico.Web.Mvc
@using Kentico.PageBuilder.Web.Mvc

@model ComponentViewModel<Xperience.Community.InlineBootstrapSection.Components.Sections.InlineBootstrapSection.BootstrapRowSectionProperties>

@Html.Raw(Model.Properties.HtmlBefore)
<div class="@(string.IsNullOrWhiteSpace(Model.Properties.Container) ? "" : Model.Properties.Container)" style="position: relative">
    <div class="row">
        @if (!Model.Properties.Columns.Any())
        {
            <div class="col-12">
                @(await Html.Kentico().WidgetZoneAsync())
            </div>
        }
        else
        {

            @foreach (var column in Model.Properties.Columns)
            {
                <div class="@($"{Model.Properties.Prefix}-{column.Size} {column.CustomClass}")">
                    @(await Html.Kentico().WidgetZoneAsync(column.Id.ToString()))
                </div>
            }
            var columnTotal = Model.Properties.Columns.Sum(x => x.Size);
            @for (var i = columnTotal; i < 12; i++)
            {
                <div class="col-1 column-display"><div style="background-color: #e5dedc; border-radius: 10px; height: 100%; "></div></div>
            }
        }
    </div>
</div>
@Html.Raw(Model.Properties.HtmlAfter)