@model IEnumerable<FaqItem>

@{    
    var faqGuid = Guid.NewGuid();
}
<div class="accordion" id="@faqGuid">
    @foreach (var faq in Model)
    {
        var guid = Guid.NewGuid();
        <div class="accordion-item">
            <h2 class="accordion-header" id="@("heading" + guid)">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@("#collapse" + guid)" aria-expanded="false" aria-controls="@("collapse" + guid)">
                    @faq.FaqQuestion
                </button>
            </h2>
            <div id="@("collapse" + guid)" class="accordion-collapse collapse" aria-labelledby="@("heading" + guid)" data-bs-parent="#@faqGuid">
                <div class="accordion-body">
                    @Html.Raw(faq.FaqAnswer)
                </div>
            </div>
        </div>
    }
</div>
